# OS
.DS_Store
Thumbs.db
*_history

# Editor
.idea/
.vscode/
*.swp
*.swo

# Node / NPM
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Deno
cov_profile/
coverage/
.deno/

# Build Output
npm/
dist/
lib/
test-project/
